*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open-sans';
}

html {
    scroll-behavior: smooth; /* Scroll smooth para html */
}

body{
    background-color: #212529;
}